:where(.code-block, pre) {
  background-color: var(--umd-code-bg);
  border: 1px solid var(--umd-border-color);
  overflow-x: auto;
}

:where(pre) {
  padding: 1rem;
}

:where(code) {
  color: var(--umd-code-color);
}

:where(.code-block figcaption, .code-title) {
  border-bottom: 1px solid var(--umd-border-color);
  color: var(--umd-muted-color);
  padding: 0.5rem 1rem;
}

:where(.umd-error-deep-recursive) {
  background-color: rgb(220 53 69 / 8%);
  outline: 2px dashed var(--umd-color-danger);
}
