:where(.umd-blockquote) {
  border-inline-start: 0.25rem solid var(--umd-border-color);
  margin-inline: 0;
  padding-inline: 1rem;
}

:where(.umd-spoiler) {
  background-color: var(--umd-body-color);
  color: transparent;
  cursor: pointer;
}

:where(.umd-spoiler[aria-expanded="true"]) {
  color: var(--umd-body-bg);
}

:where(.umd-color-swatch) {
  border: 1px solid var(--umd-border-color);
  display: inline-block;
  height: 0.75em;
  margin-inline-start: 0.35em;
  vertical-align: middle;
  width: 0.75em;
}

:where(.umd-idn-warning-icon) {
  color: var(--umd-idn-warning-color);
  display: inline-block;
  margin-inline-start: 0.35em;
}
